<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loujiwei.ADemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 主页 -->
        <activity
            android:name=".StartDemo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- base control start -->
        <activity android:name=".basecontrol.BaseControlMainActivity" android:screenOrientation="portrait"></activity>
        	<!-- ScrollableTabHost start -->
        	<activity android:name=".basecontrol.SrollableTabHost.ProjectList" android:screenOrientation="portrait"></activity><!-- 一级目录 -->
        	<activity android:name=".basecontrol.SrollableTabHost.DemoList_ScrollableTabHost" android:screenOrientation="portrait"></activity><!-- 二级目录 -->
        	<activity android:name=".basecontrol.SrollableTabHost.Demo_ScrollableTabHost" android:screenOrientation="portrait"></activity><!-- 例子样式1 -->
        	<activity android:name=".basecontrol.SrollableTabHost.Demo_ScrollableTabHost2" android:screenOrientation="portrait"></activity><!-- 例子样式2 -->
        	<activity android:name=".basecontrol.SrollableTabHost.Demo_ScrollableTabHost3" android:screenOrientation="portrait"></activity><!-- 例子样式3 -->
        	<activity android:name=".basecontrol.SrollableTabHost.Demo_ScrollableTabHost4" android:screenOrientation="portrait"></activity><!-- 例子样式4 -->
        	<activity android:name=".basecontrol.SrollableTabHost.DemoActivity1" android:screenOrientation="portrait"></activity><!-- 例子中的activity1 -->
        	<activity android:name=".basecontrol.SrollableTabHost.DemoActivity2" android:screenOrientation="portrait"></activity><!-- 例子中的activity2 -->
        	<!-- ScrollableTabHost end -->
        <!-- base control end -->
        <!-- base function list start -->
        <activity android:name=".function.FunctionListActivity" android:screenOrientation="portrait"></activity><!-- 功能目录 -->
        	<!-- function take photo start -->
        	<activity android:name=".function.PhotoActivity" android:screenOrientation="portrait"></activity><!-- 获取照片 -->
        	<activity android:name="com.loujiwei.common.activity.TakePhotoActivity" android:screenOrientation="portrait" android:theme="@style/MyDialogStyleBottom"></activity><!-- 获取照片 -->
        	<!-- function take photo end -->
        	<!-- dataPicker start -->
        	<activity android:name=".function.CustomDataPickerDialogActivity" android:screenOrientation="portrait"></activity><!-- 定制日期选择器 -->
        	<!-- dataPicker end -->
        	<!-- google map start-->
        	<activity android:name=".function.GoogleMapActivity" android:screenOrientation="portrait"></activity><!-- google地图 -->
        	<!-- google map end -->
        <!-- base function list end -->
    </application>

</manifest>
